{%- assign menu_depth = depth | plus: 1 | default: 1 -%}

{%- for link in links -%}
  {%- liquid
    assign has_children = false
    if link.levels > 0
      assign has_children = true
    endif

    assign child_is_active = false
    for link in link.links
      if link.active
        assign child_is_active = true
        break
      elsif link.links.size > 0
        for link in link.links
          if link.active
            assign child_is_active = true
            break
          endif
        endfor
      endif
    endfor
  -%}

  <li
    class="
      drawer-menu__item
      {% if emphasized -%}
        drawer-menu__item--emphasized
      {%- endif %}
      {% if emphasized and forloop.last -%}
        drawer-menu__item--emphasized-last
      {%- endif %}
    "
    data-list-item
  >
    <a
      data-item="{% if has_children %}parent{% else %}link{% endif %}"
      class="drawer-menu__link {% if has_children %}no-transition{% endif %} {% if link.active or child_is_active %}active{% endif %}"
      href="{{ link.url }}"
      {% if has_children %}
        data-link="primary"
        aria-haspopup="true"
        aria-expanded="false"
      {% endif %}
    >
      <span
        class="
          {% if emphasized -%}
            ff-heading
            fs-heading-2-base
            fs-heading-2-large-ns
          {% else %}
            fs-body-base
            fs-body-large-ns
          {%- endif %}
        "
      >
        {{ link.title }}
      </span>
      {%- if has_children -%}
        {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
      {%- endif -%}
    </a>

    {% comment %} Render sub navigation {% endcomment %}
    {%- if link.links.size > 0 -%}
      <ul class="drawer-menu__list drawer-menu__list--sub drawer-menu-list--{{ menu_depth }}" aria-hidden="true">
        <li class="drawer-menu__item drawer-menu__item--heading">
          <button class="drawer-menu__link" data-heading="true" data-item="back">
            <span class="ff-heading fs-heading-2-base fs-heading-2-large-ns">{{ link.title }}</span>
            {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
          </button>
        </li>
        {% render 'drawer-menu-list', links: link.links, depth: menu_depth %}
      </ul>
    {%- endif -%}
  </li>
{%- endfor -%}
