.page-max-w {
  @apply mx-auto max-w-custom px-page-outer;
}

.section-spacing {
  @apply mt-16;
}

.full-screen {
  @apply h-screen w-screen;
}

.fill-parent {
  @apply h-full w-full;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.absolute-fill {
  @apply absolute inset-0;
}

.f-col {
  @apply flex flex-col;
}

.f-center {
  @apply flex items-center justify-center;
}

/* FONT VARIANTS */

.heading {
  @apply font-heading;
}
.heading--lg {
  @apply text-2xl tab-lg:text-3xl desk-md:text-5xl-minus;
  @apply tracking-2;
}
.heading--md {
  @apply text-lg tab-lg:text-xl desk-md:text-2xl;
  @apply tracking-2;
}
.heading--sm {
  @apply text-3xs tab-lg:text-2xs desk-md:text-sm;
  @apply tracking-4;
}

.body {
  @apply font-body;
}
.body--lg {
  @apply text-lg tab-lg:text-xl desk-md:text-2xl;
  @apply tracking-2;
}
.body--md {
  @apply text-base desk-md:text-base-plus;
  @apply tracking-2;
}
.body--sm {
  @apply text-3xs tab-lg:text-xs desk-md:text-sm;
  @apply font-light;
  @apply tracking-3 desk-md:tracking-2;
}

.btn-text {
  @apply font-btn;
}
.btn-text--sm {
  @apply text-xs;
  @apply font-semibold;
  @apply tracking-2;
}
.btn-text--lg {
  @apply text-xl tab-lg:text-2xl desk-md:text-3xl;
  @apply font-semibold;
  @apply tracking-2;
}

/* BUTTON VARIANTS */

.btn {
  @apply cursor-pointer rounded-sm;
}

.btn--standard {
  @apply btn-text btn-text--sm;
  @apply bg-white-primary;
  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
  &:hover {
    @apply bg-tertiary-dark text-white-primary;
  }
}

.btn--primary {
  @apply btn-text btn-text--sm;
  @apply bg-tertiary;

  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
  &:hover {
    @apply bg-tertiary-dark text-white-primary;
  }
}

.btn--primary-outline {
  @apply btn-text btn-text--sm;
  @apply border-2 border-tertiary-dark bg-transparent text-tertiary;

  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
  &:hover {
    @apply bg-tertiary text-black-primary;
  }
}

.btn--outline {
  @apply btn-text btn-text--sm;
  @apply font-light tracking-3;
  @apply border border-button-outline bg-transparent text-gray-light;

  transition: opacity ease-in-out 0.4s;
  &:hover {
    @apply opacity-60;
  }
}

.btn--sm {
}

.btn--large {
  @apply min-h-0 p-0 pt-px;
  @apply h-8 px-6 desk-md:h-10 desk-md:px-8;
}

/* FLEX & GRID */

.carousel-view {
  @apply relative flex items-center overflow-hidden;
}

.carousel-slider {
  @apply flex flex-nowrap items-center;
  @apply w-full;
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.carousel-item,
.carousel-group {
  transition: transform 0.5s ease-out;
  will-change: transform;
}
.carousel-group {
  @apply shrink-0 grow-0 basis-full;
  @apply w-full;
}

.carousel-item {
  @apply shrink-0 grow-0 basis-full xl:basis-1/4;
}

.carousel-nav {
  @apply absolute cursor-pointer;
  &.left {
    @apply left-0;
  }
  &.right {
    @apply right-0;
  }
}

.f-grid {
  --f-grid-gap: theme(space.2); /* gap-2 */

  .f-grid-group {
    @apply flex shrink-0 grow-0 basis-full flex-wrap;
    @apply mr-[var(--f-grid-gap)];
  }

  .f-grid-row {
    @apply flex shrink-0 grow-0 basis-full;
  }

  .f-grid-item {
    @apply shrink-0 grow-0;
    @apply pr-[var(--f-grid-gap)];
  }

  &.cols-1 .f-grid-item {
    @apply basis-[calc((100%+var(--f-grid-gap))/1)];
  }
  &.cols-2 .f-grid-item {
    @apply basis-[calc((100%+var(--f-grid-gap))/2)];
  }
  &.cols-3 .f-grid-item {
    @apply basis-[calc((100%+var(--f-grid-gap))/3)];
  }
  &.cols-4 .f-grid-item {
    @apply basis-[calc((100%+var(--f-grid-gap))/4)];
  }

  &:not(.rows-1) {
    .f-grid-row:nth-child(n + 2) .f-grid-item {
      @apply pt-[var(--f-grid-gap)];
    }
  }
}
