{%- liquid

-%}
<div
  data-section-id="{{ section.id }}"
  data-section-type="xotix-social"
  class="xotix-social__cmp"
></div>

{% schema %}
{
  "name": "Xotix Social 2",
  "tag": "section",
  "class": "shopify-section--stackable offset-section",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "desktop_height",
      "label": "t:sections.slideshow.settings.height.label",
      "unit": "%",
      "min": 20,
      "max": 50,
      "step": 2,
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_height",
      "label": "t:sections.slideshow.settings.mobile_height.label",
      "unit": "%",
      "min": 20,
      "max": 50,
      "step": 2,
      "default": 50
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS class (separate by space)"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 6,
      "settings": [
        {
          "id": "desktop_image",
          "type": "image_picker",
          "label": "Desktop image (Landscape preferred)"
        },
        {
          "id": "mobile_image",
          "type": "image_picker",
          "label": "Mobile image (Portrait preferred)"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "heading",
          "type": "richtext",
          "label": "Heading",
          "default": "<p>Heading</p>"
        },
        {
          "id": "subheading",
          "type": "richtext",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label",
          "default": "<p>Use this section to make a bold statement</p>"
        },
        {
          "id": "shop_text",
          "type": "text",
          "label": "Shop Text",
          "default": "Learn more"
        },
        {
          "type": "header",
          "content": "DESIGN"
        },
        {
          "id": "alignment",
          "type": "select",
          "label": "Text alignment",
          "options": [
            { "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__1.label", "value": "left_top" },
            { "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__2.label", "value": "center_top" },
            { "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__3.label", "value": "right_top" },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__4.label",
              "value": "left_center"
            },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__5.label",
              "value": "center_center"
            },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__6.label",
              "value": "right_center"
            },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__7.label",
              "value": "left_bottom"
            },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__8.label",
              "value": "center_bottom"
            },
            {
              "label": "t:sections.slideshow.blocks.slide.settings.alignment.options__9.label",
              "value": "right_bottom"
            }
          ],
          "default": "center_center"
        },
        {
          "id": "content_order",
          "type": "select",
          "label": "Content Order",
          "options": [
            { "label": "1.Heading/2.Subheading/3.ShopText", "value": "first_second_third" },
            { "label": "1.Heading/2.ShopText/3.Subheading", "value": "first_third_second" },
            { "label": "1.Subheading/2.Heading/3.ShopText", "value": "second_first_third" },
            { "label": "1.ShopText/2.Heading/3.Subheading", "value": "second_third_first" },
            { "label": "1.Subheading/2.ShopText/3.Heading", "value": "third_first_second" },
            { "label": "1.ShopText/2.Subheading/3.Heading", "value": "third_second_first" }
          ],
          "default": "second_first_third"
        },
        {
          "id": "content_padding",
          "type": "range",
          "label": "Content Padding",
          "unit": "%",
          "min": 2,
          "max": 25,
          "step": 1,
          "default": 11
        },
        {
          "id": "heading_text_size",
          "type": "range",
          "label": "t:sections.slideshow.blocks.slide.settings.heading_text_size.label",
          "unit": "px",
          "min": 48,
          "max": 72,
          "step": 2,
          "default": 64
        },
        {
          "type": "range",
          "id": "overlay_shadow",
          "label": "t:sections.slideshow.blocks.slide.settings.overlay_shadow.label",
          "unit": "%",
          "min": 0,
          "max": 60,
          "step": 5,
          "default": 10
        },
        {
          "id": "color_text",
          "type": "color",
          "label": "t:sections.slideshow.blocks.slide.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "id": "color_text_button",
          "type": "color",
          "label": "t:sections.slideshow.blocks.slide.settings.color_text_button.label",
          "default": "#181818"
        },
        {
          "id": "color_background_button",
          "type": "color",
          "label": "t:sections.slideshow.blocks.slide.settings.color_background_button.label",
          "default": "#FFFFFF",
          "info": "Set Button Background and Border to transparent to deactivate"
        },
        {
          "id": "color_border_button",
          "type": "color",
          "label": "Button Border Color",
          "default": "#FFFFFF",
          "info": "Set Button Background and Border to transparent to deactivate"
        },
        {
          "id": "content_overlay_color",
          "type": "color",
          "label": "Content Overlay Color",
          "default": "transparent",
          "info": "Set to transparent to deactivate"
        },
        {
          "type": "range",
          "id": "content_overlay_opacity",
          "label": "Content Overlay Opacity",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 30
        },
        {
          "type": "range",
          "id": "content_overlay_width",
          "label": "Content Overlay Width",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 50
        },
        {
          "type": "range",
          "id": "content_overlay_height",
          "label": "Content Overlay Height",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 50
        },
        {
          "id": "color_overlay",
          "type": "color",
          "label": "Image Overlay Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Image Overlay Opacity",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Xotix Social 2",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
